[Desktop Entry]
Name=Foundry Mari
Exec=/opt/bin/Mari4.7v4
Icon=/opt/Media/Icons/Mari.png
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
